<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultado</h1>
    <p id="resultado"></p>
    <a href="/">Voltar</a>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const resultado = urlParams.get('resultado');
        document.getElementById('resultado').innerText = `O resultado da operação é: ${resultado}`;
    </script>
</body>
</html>